.events {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.event {
    background-color: goldenrod;
    border: 2px dotted lime;
    padding: 1rem;
    line-height: 2rem;
    margin: 1rem;
}